.navbar {
    padding: 1rem;  
    transition: all 0.25s ease-in-out;

    .navbar-brand {
        line-height: 1;
        padding-bottom: 0;
        width: 100px;
        img {
          max-width: 100%;
          width: 100px;
          @media (min-width: 576px) {
            width: 100px;
          }
        }
        @media (min-width: 576px) {
          width: 100px;
        }
      }
    
      .navbar-toggler {
        font-weight: 400;
        color: $primaryColor;
        font-size: 2rem;
      }
      .nav-link {
        color: $primaryColor;
        font-size: 1.15rem;
        padding-right: 1rem;
        padding-left: 1rem;
        @media (min-width: 992px) {
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }
        font-weight: 700;
        padding-left: 1rem;
        &:hover {
          color: $secondaryColor;
        }
      }
      .donate .nav-link {
        background: $tertiaryColor;
        color: #fff;
        text-transform: uppercase;
        &:hover {
          background: #fff;
          color: $tertiaryColor;
        }
        @media (min-width: 992px) {
          margin-left: 0.5rem;
        }
      }

}